{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
<div>
    <div class="about">
        <h3>About Pusoy Dos</h3>

        <p>
            Pusoy Dos is a simple card game where you try to
            play or <em>shed</em> all your cards before your opponents.
        </p>

        <p>
            At the start of the game all the cards are dealt equally among all players.
            The player with the 3 clubs starts a round.
        </p>

        <p>
            The round begins with a player laying a hand.
        </p>
    </div>
</div>
{% endblock content %}
