<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <title>{% block title %}{% endblock title %} - Pusoy Dos Online</title>
    {% endblock head %}

    <link rel="apple-touch-icon" sizes="57x57" href="/public/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/public/vendor/purecss/pure-min.css">
    <link rel="stylesheet" href="/public/vendor/purecss/grids-responsive-min.css">
    <link rel="stylesheet" href="/public/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/pusoydos.css">
    <script src="/public/vendor/sweetalert/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/public/vendor/sweetalert/sweetalert2.min.css">
    <link rel="manifest" href="/public/manifest.json">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="/public/js/google-auth.js"></script>   
    <script>
        window.pd = {};
    </script>

</head>
<body>

    <header class="app-header">
        <div class="pure-g topbar">
            {% if logged_in %}
                <div class="pure-u-1-5 header-icon">
                   <!--<a href="/"><i class="fa fa-home fa-lg"></i></a>-->
                </div>
                <div class="pure-u-1-5 header-icon">
                   <!-- <a href="/leaderboard"><i class="fa fa-list-ol fa-lg"></i></a>-->
                </div>

                <div class="pure-u-1-5 header-icon">
                    <a href="/">
                        <img height="14" src="/public/img/024-spades.png">
                    </a>
                </div>

                <div class="pure-u-1-5 header-icon">
                   <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/Pusoy_dos">
                        <i class="fa fa-question fa-lg"></i>
                    </a> -->
                </div>

                <div class="pure-u-1-5 header-icon">
                    <!-- <a href="/logout"><i class="fa fa-sign-out fa-lg"></i></a> -->
                </div>
            {% else %}
                <div class="pure-u-5-5">
                    <a href="/">
                    <h3 class="title">
                        <span>
                            <img height="14" src="/public/img/024-spades.png">
                        </span>

                        Pusoy Dos 
                       <span>
                            <img height="14" src="/public/img/024-spades.png">
                        </span>
                     </h3>
                    </a>
                </div>

            {% endif %}
        </div>

        <div class="nav">
            <div class="pure-g nav-inner">
                {% if logged_in %}
                    <div class="pure-u-1-4 header-icon">
                       <a href="/"><i class="fa fa-home fa-lg"></i>
                        <small>Home</small></a>
                    </div>
                    <div class="pure-u-1-4 header-icon">
                        <a href="/leaderboard"><i class="fa fa-list-ol fa-lg"></i>
                            <small>Table</small>
                        </a>
                    </div>

                    <div class="pure-u-1-4 header-icon">
                       <a href="/about">
                            <i class="fa fa-question-circle-o fa-lg"></i>
                            <small>About</small>
                        </a>
                    </div>

                    <div class="pure-u-1-4 header-icon">
                        <a href="/logout"><i class="fa fa-sign-out fa-lg"></i>
                        <small>Log out</small></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <div class="app-content" id="content">{% block content %}{% endblock content %}</div>
    </div>

    <div class="app-footer" id="footer">
        {% block footer %}

        <div class="feedback">
            <a class="btn pure-button" target="_blank" href="https://github.com/benbrunton/pusoy_dos_server/issues">
                <i class="fa fa-comments"></i>&nbsp;Feedback
            </a>
            <a class="btn pure-button" target="_blank" href="https://github.com/benbrunton/pusoy_dos_server">
                <i class="fa fa-github"></i>&nbsp;Contribute
            </a>
        </div>

        &copy; 2017 <a href="http://benbru.com/">Ben Brunton</a>.
        {% endblock footer %}
    </div>
    
    {% if logged_in %}
         <script src="/public/js/push.js"></script> 
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57171523-2', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
