<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <title>{% block title %}{% endblock title %} - Pusoy Dos Online</title>
    {% endblock head %}
    <style>
        .hearts, .diamonds {
            color: darkred; 
        }
    </style>
    <link rel="stylesheet" href="/public/vendor/purecss/pure-min.css">
</head>
<body>
    <header>
        <h1>Pusoy Dos</h1>
        {% if logged_in %}
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        {% endif %}
    </header>
    <hr><br>
    <div id="content">{% block content %}{% endblock content %}</div>
    <br><hr>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2016 <a href="http://benbru.com/">Ben Brunton</a>.
        {% endblock footer %}
    </div>
</body>
</html>
