<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <title>{% block title %}{% endblock title %} - Pusoy Dos Online</title>
    {% endblock head %}

    <link rel="apple-touch-icon" sizes="57x57" href="/public/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/public/vendor/purecss/pure-min.css">
    <link rel="stylesheet" href="/public/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/pusoydos.css">
    <script src="/public/vendor/sweetalert/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/public/vendor/sweetalert/sweetalert2.min.css">
    <script>
        window.pd = {};
    </script>

</head>
<body>

    <header class="app-header">
        <div class="pure-g">
            {% if logged_in %}
                <div class="pure-u-1-3 header-icon">
                   <a href="/"><i class="fa fa-home fa-lg"></i></a>
                </div>
                <div class="pure-u-1-3 header-icon">
                    <img height="14" src="/public/img/024-spades.png">
                </div>
                <div class="pure-u-1-3 header-icon">
                    <a href="/logout"><i class="fa fa-sign-out fa-lg"></i></a>
                </div>
            {% else %}
                <div class="pure-u-5-5">
                    <h3 class="title">Pusoy Dos</h3>
                </div>

            {% endif %}
        </div>
    </header>

    <div class="container">
        <div class="app-content" id="content">{% block content %}{% endblock content %}</div>
    </div>

    <div class="app-footer" id="footer">
        {% block footer %}

        <div class="feedback">
            <a class="btn pure-button" target="_blank" href="https://github.com/benbrunton/pusoy_dos_server/issues">
                <i class="fa fa-comments"></i>&nbsp;Feedback
            </a>
            <a class="btn pure-button" target="_blank" href="https://github.com/benbrunton/pusoy_dos_server">
                <i class="fa fa-github"></i>&nbsp;Contribute
            </a>
        </div>

        &copy; 2017 <a href="http://benbru.com/">Ben Brunton</a>.
        {% endblock footer %}
    </div>

</body>
</html>
