{% extends "base.html" %}
{% block title %}Games{% endblock title %}
{% block content %}
    <h1>Pusoy Dos Online</h1>
    <a href="/logout">logout</a>

    <div class="game-panel">
        <a href="/new-game">Create Game</a>

        <div class="joined-games">
            {% if num_games > 0  %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
							<th>Owner</th>
                            <th>Action</th>
                        </tr>
                    </thead>

					<tbody>
					{% for game in games %}
						<tr>
							<td>{{ game.id }}</td>
							<td>{{ game.creator_name }}</td>
                            <td><a href="/game/{{ game.id }}">join</a></td>
						</tr>
				  	{% endfor %}	
					</tbody>
                </table>
            {% else %}
                <p>No available games</p>
            {% endif %}
        </div>

        <div class="open-games">
            {% if num_open_games > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Owner</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in open_games %}
                            <tr>
                                <td>{{ game.id }}</td>
                                <td>{{ game.creator_name }}</td>
                                <td><a href="/game/{{ game.id }}">join</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>
{% endblock content %}

