{% extends "base.html" %}
{% block title %}Games{% endblock title %}
{% block content %}
    <div class="game-panel">
        <div class="game-menu">
            <a class="button-primary pure-button" href="/new-game">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;
                New Game
            </a>
        </div>

        <div class="joined-games game-list">
            <h3><i class="fa fa-user"></i>&nbsp;&nbsp;My Games</h3>
            {% if num_games > 0  %}
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>#</th>
							<th>Owner</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
					<tbody>
					{% for game in games %}
						<tr>
							<td>{{ game.id }}</td>
							<td>{{ game.creator_name }}</td>
                            <td>
                                {% if game.started %}
                                    started
                                {% else %}
                                    waiting to begin
                                {% endif %} 
                            </td>
                            <td><a href="/game/{{ game.id }}">view</a></td>
						</tr>
				  	{% endfor %}	
					</tbody>
                </table>
            {% else %}
                <p>No available games</p>
            {% endif %}
        </div>

        <div class="open-games game-list">
            <h3><i class="fa fa-globe"></i>&nbsp;&nbsp;Public Games</h3>
            {% if num_open_games > 0 %}
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Owner</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in open_games %}
                            <tr>
                                <td>{{ game.id }}</td>
                                <td>{{ game.creator_name }}</td>
                                <td><a href="/game/{{ game.id }}">join</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No available games</p>
            {% endif %}
        </div>

    </div>
{% endblock content %}

