{% extends "base.html" %}
{% block title %}Games{% endblock title %}
{% block content %}
    <h1>Pusoy Dos Online</h1>
    <a href="/logout">logout</a>

    <div class="game-panel">
        <a href="/new-game">Create Game</a>

        <div>
            {% if num_games > 0  %}
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
							<th>Owner</th>
                        </tr>
                    </thead>

					<tbody>
					{% for game in games %}
						<tr>
							<td>{{ game.id }}</td>
							<td>{{ game.creator_name }}</td>
						</tr>
				  	{% endfor %}	
					</tbody>
                </table>
            {% else %}
                <p>No available games</p>
            {% endif %}
        </div>

    </div>
{% endblock content %}

