<!DOCTYPE html>
<html>
    <head>
        <title>Pusoy Dos</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Pusoy Dos</h1>

        <p><a href="{{ facebook_login }}">Login with Facebook</a></p>
        </p><a href="/test_auth">Offline Login</a></p>
    </body>
</html>
