{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div>
    <div>
        <p>Players:</p>
        <ul>
            {% for player in players %}
                <li>
                    <span class="name">
                    {% if player.id == user_id %}
                        <strong>{{player.name}}</strong>
                    {% else %}
                        {{ player.name }}
                    {% endif %}
                    </span>
                    {% if player.id ==  next_player %}
                    <span>*</span>
                    {% endif %} 
                </li>
            {% endfor %}
        </ul>

    {% if current_user_winner %}
        <h2>You Won!</h2> 
    {% elif  your_turn  %}
        <h3>Your turn!</h3>
    {% else %}
        {% if current_user_finished %}
            <h3>You used all your cards</h3>
        {% endif %}
         
        <h3>Waiting for {{ next_player_name }} </h3>
    {% endif %}

    <div class="last-move">
        {% for card in last_move %}
        <span class="{{card.suit | lower }}"> | {{card.rank}} {{card.suit_display}} |</span>
        {% endfor %}
    </div>


    <div>
        <h4>your cards</h4>
        <form class="cards" method="POST">
        {% for card in cards %}
            <div class="{{ card.suit | lower }} {{ card.rank }}">
                <label>
                    <input type="checkbox" name="{{card.suit}} {{card.rank}}"
                        {% if your_turn == false %}
                        disabled
                        {% endif %}
                    >
                    {% if card.joker == false %}
                    <span>{{card.rank}}</span>
                    {% endif %}
                    <span>{{card.suit_display}}</span>
                    {% if card.joker %}
                        <select name="joker {{card.rank}} select">
                            <option value="A Spades">A spades</option>
                            <option value="3 Clubs">3 Clubs</option>
                        </select>
                    {% endif %}
                </label>
            </div>
        {% endfor %}

         
        {% if  your_turn  %}
            <input type="submit" value="Play Cards"/>

        {% endif %}
        </form>
	
    </div>
   
</div>
{% endblock content %}
