{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div>
    <h2>We are playing!</h2>
    {% if  your_turn  %}
        <h3>Your turn!</h3>
    {% else %}
        <h3>Waiting...</h3>
    {% endif %}

    <div class="last-move">
        {{ last_move }}
    </div>


    <div>
        <h4>your cards</h4>
        <form class="cards" method="POST">
        {% for card in cards %}
            <div class="{{ card.suit }} {{ card.rank }}">
                <label>
                    <input type="checkbox" name="{{card.suit}} {{card.rank}}"
                        {% if your_turn == false %}
                        disabled
                        {% endif %}
                    >
                    <span>{{card.rank}}</span>
                    <span>{{card.suit_display}}</span>
                </label>
            </div>
        {% endfor %}

         
        {% if  your_turn  %}
            <input type="submit" value="Play Cards"/>

        {% endif %}
        </form>
	
    </div>
   
</div>
{% endblock content %}
