{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div id="inplay" class="inplay">
    
    {% if valid_move == false %}
    <div class="invalid-move">
        <h3>You can't play that move!</h3>
    </div>
    {% endif %}

    <div>
        <p>Players:</p>
        <ul class="player-list">
            <player v-for="player in playerList" v-bind:player="player"></player>
        </ul>

    {% if current_user_winner %}
        <h2>You Won!</h2> 
    {% elif  your_turn  %}
        <h3>Your turn!</h3>
    {% else %}
        {% if current_user_finished %}
            <h3>You used all your cards</h3>
        {% endif %}
         
        <h3>Waiting for {{ next_player_name }} </h3>
    {% endif %}

    {% if round_reversed %}
        <h3>Card order reversed!</h3>
    {% endif %}

    <div class="last-move card-set">
        <p>On the table:</p>
        <table-card v-for="card in lastMove" v-bind:card="card"></table-card>
    </div>


    <div>
        <h4>my cards</h4>
        <div class="my-cards-container">
            <div class="my-cards card-set">
                <player-card v-for="card in myCards" v-bind:card="card"></player-card>
            </div>
        </div>

     
        <div class="move">
            <p>Selected Cards:</p>
            <div class="card-set">
                <move-card v-for="card in selectedCards" v-bind:card="card"></move-card>
            </div>
        </div>
            
        {% if  your_turn  %}
            <div class="action">
                <button v-if="selectedCards.length > 0" 
                    v-on:click="submit"
                    class="pure-button action-btn play-btn">Play Card<span v-if="selectedCards.length > 1">s</span>
                </button>
                <input v-else 
                        v-on:click="submit" class="pure-button action-btn pass-btn" type="submit" value="Pass"/>
            </div>

        {% endif %}
	
    </div>
    <script>
        window.pd.gameId = "{{ id }}";
    </script>
    <script src="/public/vendor/fetch/fetch.js"></script>
    <script src="/public/vendor/vue/vue.min.js"></script>
    <script src="/public/js/inplay.js"></script>   
</div>
{% endblock content %}
