{% extends "base.html" %}
{% block title %}Leaderboard{% endblock title %}
{% block content %}

<h2>Leaderboard</h2>

<table class="pure-table pure-table-horizontal leaderboard">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>W</th>
            <th>P</th>
            <th>%</th>
        </tr>
    </thead>

    <tbody>
					{% for user in leaderboard %}
						<tr>
							<td>{{ user.position }}</td>
							<td>{{ user.name }}</td>
                            <td>{{ user.wins }}</td>
                            <td>{{ user.played }}</td>
                            <td>{{ user.win_percentage }}%</td>
						</tr>
				  	{% endfor %}	

    </tbody>

</table>

{% endblock content %}

