{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div class="game-lobby">
    <h2>Game {{id}} - waiting to start</h2>

    <div>
        <p><strong>Players:</strong> {{ num_users }} </p>
    </div>

    <div class="player-list">

        {% for user in users %}
            <div>
            {% if current_user == user.id %}
                <i class="fa fa-user-circle-o"></i>
                You
            {% else %}
                <form method="POST" action="/game/{{id}}/remove/{{user.id}}">
                    <i class="fa fa-user"></i>
                    {{ user.name }}

                    <button type="submit" class="pure-button small-btn">
                        <i class="fa fa-trash"></i>
                    </button>
            {% endif %}
            </div>

        {% endfor %}

    </div>

    <div class="button-section">

        {% if  num_users > 1  %}
            <form action="/game/{{ id }}/begin" method="POST">
                <input type="submit" value="Start Game">
            </form>
        {% endif %}

    </div>

</div>
{% endblock  content %}
