{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div class="game-lobby">

    <h2>Game {{id}} - accepting players </h2>

    <div>
        <p><strong>Players:</strong> {{ num_users }} </p>
    </div>

    <div class="player-list">

        {% for user in users %}
            <div><i class="fa fa-user"></i>
                {{ user.name }}
            </div>

        {% endfor %}

    </div>

    <div class="button-section">
        <form action="/game/{{ id }}/join" method="POST">
            <input id="js-join-game" type="submit" value="Join">
        </form>
    </div>
</div>

<script>
document.getElementById("js-join-game").addEventListener("click", function(){
    ga('send', 'event', 'Game', 'join');
}, false);
</script>

{% endblock content %}
