{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block content %}
<div class="game-lobby">
    <h3 class="section-head">Game {{id}}</h3>
    <div class="option-section">
        <h4 class="section-subhead">Info</h4>
            <p><strong>Players:</strong> {{ num_users }} </p>
            <p>
                <strong>Decks:</strong>
                {{ decks }}
            </p>
            <p><strong>Move limit:</strong> {{ move_limit }} </p>
    </div>

    <div class="player-list">
        <h4 class="section-subhead">Current Players</h4>
        {% for user in users %}
            <div>
                {% if current_user == user.id %}
                    <form method="POST" action="/game/{{id}}/remove/{{user.id}}">
                        <div class="text-center left-icon">
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                        <strong>You</strong>

                        <button type="submit" class="pure-button small-btn">
                            <i class="fa fa-sign-out"></i>
                        </button>
                    </form>

                {% else %}

                    <div class="text-center left-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    {{ user.name }}
                {% endif %}

                {% if user.id == owner_id %}
                [<em>creator</em>]
                {% endif %}

            </div>
        {% endfor %}

    </div>

</div>
{% endblock content %}
