{% extends "base.html" %}
{% block title %}Game {{ id }}{% endblock title %}
{% block content %}
<div class="your-game">
    <h2>Your game</h2>

    <div>
        <p><strong>Players:</strong> {{ num_users }} </p>
    </div>

    <div class="player-list">

        {% for user in users %}
            <div><i class="fa fa-user"></i>
                {{ user.name }}
            </div>

        {% endfor %}

    </div>

    <div class="button-section">

        {% if  num_users > 1  %}
            <form action="/game/{{ id }}/begin" method="POST">
                <input type="submit" value="Start Game">
            </form>
        {% endif %}

    </div>

</div>
{% endblock  content %}
