cl-red = #d75c37
cl-gray = #67727a
cl-blue = #6991ac
cl-light = #c3d7df
cl-white = #f5f5f5

body
    background-color cl-white
    color cl-gray

a, a:visited
    text-decoration none
    color inherit

.container
    max-width 850px
    margin 0 auto

.app-header
    background-color cl-blue
    color cl-light
    border-bottom 8px solid cl-red
    .title
        text-align center
    .header-icon
        padding 20px 0
        text-align center
    

.app-content

    a:hover
        text-decoration underline

    .cards>div
        display inline

    /* this is an experiment with non-js
        but enhanced card view
        - not sure it will work!
    .cards input[type="checkbox"]
        visibility hidden
        width 0
        height 0
    */

.app-footer 
    margin 25px

    a:hover
        text-decoration underline


.hearts, .diamonds
    color cl-red

.clubs, .spades
    color cl-gray


.game-panel
    .game-menu
        margin 30px 0
        text-align center

    .game-list
        margin 30px 10px

 
a.button-primary, .button-primary
    background-color cl-light
    color cl-blue
