cl-red = #d75c37
cl-gray = #67727a
cl-blue = #6991ac
cl-light = #c3d7df
cl-white = #f5f5f5
cl-green = #89bd75
cl-darkgreen = #2a8600
cl-v-light = #effaff;

cl-card-fore = #fff

cl-facebook = #3b5998

decorative-border-width = 6px
max-width = 850px

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Open Sans', sans-serif; 
    }

body
    background-color cl-white
    color cl-gray

a, a:visited
    text-decoration none
    color inherit

.container
    max-width max-width
    margin 0 auto

.app-header
    background-color cl-blue
    color cl-light
    .topbar
        border-bottom decorative-border-width solid cl-red
    .title
        text-align center
    .header-icon
        padding 10px 0
        text-align center
    .nav
        background-color cl-light
        color cl-blue
        .nav-inner
            max-width max-width
            margin 0 auto
.clearfix
    clear both
    

.app-content

    a:hover
        text-decoration underline


.app-footer 
    margin-top 20px
    padding 15px
    text-align center
    border-top decorative-border-width solid cl-blue
    background-color cl-light
    color cl-blue

    a:hover
        text-decoration underline
    
    .feedback
        margin-bottom 15px
        .btn, .btn:hover, .btn:visited
            text-decoration none
            color cl-blue
            background-color cl-white
            width:124px

.index
    padding 5px
    .login
        text-align center 

.game-history
    padding 0 10px

.hearts, .diamonds
    color cl-red

.clubs, .spades
    color cl-gray


.game-panel
    .game-menu
        margin 30px 0
        text-align center

    .game-list
        h3
            margin-bottom 0
            padding 12px
            background-color cl-blue
            color cl-white
            margin-top 0
            border-bottom decorative-border-width solid cl-red
        margin 16px 0
    .my-game
        .cta
            margin-top 12px
            .action-button
                font-size 0.7em
                float right
        .id
            background-color cl-blue
            color white
            width 20px
            height 20px
            border-radius 10px
            text-align center
            display inline-block
            small
                padding-top 3px
                display block
                font-size 50%
    .game-container
        padding 4px 4px 6px 4px
        background-color cl-light
        border-bottom 3px solid cl-blue
        &.my-go
            background-color cl-green
            color cl-white
            border-bottom 3px solid cl-darkgreen
            .id
                background-color cl-darkgreen
            .action-button
                background-color cl-darkgreen
        @media (min-width: 48em)
            margin 4px
            height 82%
        &.wait
            background-color cl-v-light
            color cl-blue
    .data
        text-align right
    .summary
        padding 12px
    .waiting
        margin-top 8px
    
 
a.button-primary, .button-primary
    background-color cl-light
    color cl-blue

a.action-button, .action-button
    background-color cl-blue
    color cl-white

.facebook-color
    color cl-facebook

.player-list
    .logged-in-player
        font-style italic

.inplay
    .user
        padding 5px 5px
        padding-left 8px
        color cl-light
        background-color cl-blue
        border-left 6px solid cl-red
        .name
            color cl-white
        &.next
            background-color cl-green
            border-left 6px solid cl-blue
            color cl-white
    h3
        padding 12px
        background-color cl-blue
        color cl-white
        margin 10px -10px
        border-bottom decorative-border-width solid cl-red
    .player-list
        margin-bottom 20px
    .player
        margin-bottom 6px
        .card-set
            width auto
            display inline
            .card
                transform scale(0.6) translateY(-12px)
    .last-move
        margin-left 10px
        height 30px
        .card.jtrue
            background-color #CCC

    padding 15px 10px 0
    overflow-x hidden
    .hand-header, .move-header, .table-header
        h4
            padding 8px
            margin 0
        background-color cl-light
        color cl-blue
        margin 15px -10px 10px
    .my-cards-container
        overflow-x auto
        height 65px
    .move-placeholder
        padding 9px 0 10px 0
    .action
        text-align center
        .action-btn
            margin 0 auto
        .action-btn.show
            display block
    .win-trophy
        margin-left 5px
        color gold
    .next-icon
        color cl-darkgreen

.open-game
    padding 12px 0
    margin 0 10px
    border-bottom 1px solid cl-light

.small-btn
    font-size 0.7em


.text-center
    text-align center
.text-danger
    color cl-red

.joker-modal
    text-align center
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    padding 10px
    display flex
    align-items center
    justify-content center
    background-color cl-white
    box-sizing border-box
    .form-element
        margin 20px 0        

.new-game-form form
    max-width 350px
    padding 20px
    margin 0 auto
    border 1px solid cl-light

.game-lobby
    padding 0 10px
    .player
        height 26px
        margin-bottom 4px

.not-loaded .hide-on-load
        display none 

.button-section
    margin-top 18px
    text-align center

.form-group
    padding 12px 0

.leaderboard-container
    overflow-x auto
    margin-top -10px
.leaderboard
    width 100%
    .min-wid
        padding .5em .2em
        text-align center
    thead
        background-color cl-light
        color cl-blue
.index
    .blurb
        margin-top 50px

.section-head
    padding 12px
    background-color cl-blue
    color cl-white
    margin 10px -10px
    border-bottom decorative-border-width solid cl-red

.section-subhead
    padding 8px 12px
    background-color cl-light
    color cl-blue
    margin -10px
    margin-bottom 5px

.block-button
    width 100%

.cta-button
    background-color cl-green
    color cl-white

.left-icon
    width 32px
    display inline-block
    padding-right 5px

.header-sub
    float right

.event-list
    font-size 0.8em
    .event-item
        margin-bottom 1px
.card-set
    display flex
    width 500px
    height 52px
    padding-top 5px 
    margin 0 auto
    .card-container
        overflow hidden
        cursor pointer
    .card-container:last-child
        overflow visible
    .card
        padding 2px
        border 1px solid cl-gray
        border-radius 3px
        background-color cl-card-fore
        display inline-block
        width 30px
        height 35px
        box-sizing content-box
        text-align left
        font-size 0.7em
        p
            margin 0
    .card-container.picked
        overflow visible
        transform scale(1.2)
        z-index 1
        .card
            text-align center
            p
                display inline-block
                padding 7px 1px 1px 0

.feed
    h4
        margin 2px 5px
        
.message-feed
    max-height 180px
    padding 2px 5px 5px 2px
    overflow-y auto
    border-top 1px solid #CCC
    border-bottom 1px solid #CCC
    background-color #FCFCFC
    li
        list-style none
        font-size 0.7em
        border-bottom 1px solid #eaeaea
        padding-bottom 4px
        margin-top 4px
        .container
            clear both
        .left-col
            float left
        .right-col
            float right
        small
            display block
        strong
            display block
            background-color #888
            padding 2px
            color #EEE
        span
            text-align right
        span, strong
            margin-left 2px

#new-message
    margin-top 10px
    width calc(100% - 75px)
