# general app metadata
name = "Pusoy Dos"
author = "Ben Brunton"
hostname = "http://localhost:3010"
port = "3000"
mode = "dev"
# mysql credentials
mysql_user = "root"
mysql_pw = "pusoy_dos"
mysql_host = "mysql"
mysql_port = "3306"
# facebook credentials
fb_secret = INSERT_FB_SECRET
fb_app_id = INSERT_FB_APP_ID
# google credentials
google_secret = INSERT_GOOGLE_SECRET
google_app_id = INSERT_GOOGLE_APP_ID
# features
push_notifications = false
