html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #f5f5f5;
  color: #67727a;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 850px;
  margin: 0 auto;
}
.app-header {
  background-color: #6991ac;
  color: #c3d7df;
}
.app-header .topbar {
  border-bottom: 6px solid #d75c37;
}
.app-header .title {
  text-align: center;
}
.app-header .header-icon {
  padding: 10px 0;
  text-align: center;
}
.app-header .nav {
  background-color: #c3d7df;
  color: #6991ac;
}
.app-header .nav .nav-inner {
  max-width: 850px;
  margin: 0 auto;
}
.app-content a:hover {
  text-decoration: underline;
}
.app-footer {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-top: 6px solid #6991ac;
  background-color: #c3d7df;
  color: #6991ac;
}
.app-footer a:hover {
  text-decoration: underline;
}
.app-footer .feedback {
  margin-bottom: 15px;
}
.app-footer .feedback .btn,
.app-footer .feedback .btn:hover,
.app-footer .feedback .btn:visited {
  text-decoration: none;
  color: #6991ac;
  background-color: #f5f5f5;
  width: 124px;
}
.index {
  padding: 5px;
}
.index .login {
  text-align: center;
}
.game-history {
  padding: 0 10px;
}
.hearts,
.diamonds {
  color: #d75c37;
}
.clubs,
.spades {
  color: #67727a;
}
.game-panel .game-menu {
  margin: 30px 0;
  text-align: center;
}
.game-panel .game-list {
  margin: 16px 0;
}
.game-panel .game-list h3 {
  margin-bottom: 0;
  padding: 12px;
  background-color: #6991ac;
  color: #f5f5f5;
  margin-top: 0;
  border-bottom: 6px solid #d75c37;
}
.game-panel .my-game .cta {
  margin-top: 12px;
}
.game-panel .my-game .cta .action-button {
  font-size: 0.7em;
  float: right;
}
.game-panel .my-game .id {
  background-color: #6991ac;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}
.game-panel .my-game .id small {
  padding-top: 3px;
  display: block;
  font-size: 50%;
}
.game-panel .game-container {
  padding: 4px 4px 6px 4px;
  background-color: #c3d7df;
  border-bottom: 3px solid #6991ac;
}
.game-panel .game-container.my-go {
  background-color: #89bd75;
  color: #f5f5f5;
  border-bottom: 3px solid #2a8600;
}
.game-panel .game-container.my-go .id {
  background-color: #2a8600;
}
.game-panel .game-container.my-go .action-button {
  background-color: #2a8600;
}
@media (min-width: 48em) {
  .game-panel .game-container {
    margin: 4px;
    height: 82%;
  }
}
.game-panel .game-container.wait {
  background-color: #effaff;
  color: #6991ac;
}
.game-panel .data {
  text-align: right;
}
.game-panel .summary {
  padding: 12px;
}
.game-panel .waiting {
  margin-top: 8px;
}
a.button-primary,
.button-primary {
  background-color: #c3d7df;
  color: #6991ac;
}
a.action-button,
.action-button {
  background-color: #6991ac;
  color: #f5f5f5;
}
.facebook-color {
  color: #3b5998;
}
.player-list .logged-in-player {
  font-style: italic;
}
.inplay {
  padding: 15px 10px 0;
  overflow-x: hidden;
}
.inplay .user {
  padding: 5px 5px;
  padding-left: 8px;
  color: #c3d7df;
  background-color: #6991ac;
  border-left: 6px solid #d75c37;
}
.inplay .user .name {
  color: #f5f5f5;
}
.inplay .user.next {
  background-color: #89bd75;
  border-left: 6px solid #6991ac;
  color: #f5f5f5;
}
.inplay h3 {
  padding: 12px;
  background-color: #6991ac;
  color: #f5f5f5;
  margin: 10px -10px;
  border-bottom: 6px solid #d75c37;
}
.inplay .player-list {
  margin-bottom: 20px;
}
.inplay .player {
  margin-bottom: 6px;
}
.inplay .player .card-set {
  width: auto;
  display: inline;
}
.inplay .player .card-set .card {
  transform: scale(0.6) translateY(-12px);
}
.inplay .last-move {
  margin-left: 10px;
  height: 30px;
}
.inplay .last-move .card.jtrue {
  background-color: #ccc;
}
.inplay .hand-header,
.inplay .move-header,
.inplay .table-header {
  background-color: #c3d7df;
  color: #6991ac;
  margin: 15px -10px 10px;
}
.inplay .hand-header h4,
.inplay .move-header h4,
.inplay .table-header h4 {
  padding: 8px;
  margin: 0;
}
.inplay .my-cards-container {
  overflow-x: auto;
  height: 65px;
}
.inplay .move-placeholder {
  padding: 9px 0 10px 0;
}
.inplay .action {
  text-align: center;
}
.inplay .action .action-btn {
  margin: 0 auto;
}
.inplay .action .action-btn.show {
  display: block;
}
.inplay .win-trophy {
  margin-left: 5px;
  color: #ffd700;
}
.inplay .next-icon {
  color: #2a8600;
}
.open-game {
  padding: 12px 0;
  margin: 0 10px;
  border-bottom: 1px solid #c3d7df;
}
.small-btn {
  font-size: 0.7em;
}
.text-center {
  text-align: center;
}
.text-danger {
  color: #d75c37;
}
.joker-modal {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.joker-modal .form-element {
  margin: 20px 0;
}
.new-game-form form {
  max-width: 350px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #c3d7df;
}
.game-lobby {
  padding: 0 10px;
}
.game-lobby .player {
  height: 26px;
  margin-bottom: 4px;
}
.not-loaded .hide-on-load {
  display: none;
}
.button-section {
  margin-top: 18px;
  text-align: center;
}
.form-group {
  padding: 12px 0;
}
.leaderboard-container {
  overflow-x: auto;
  margin-top: -10px;
}
.leaderboard {
  width: 100%;
}
.leaderboard .min-wid {
  padding: 0.5em 0.2em;
  text-align: center;
}
.leaderboard thead {
  background-color: #c3d7df;
  color: #6991ac;
}
.index .blurb {
  margin-top: 50px;
}
.section-head {
  padding: 12px;
  background-color: #6991ac;
  color: #f5f5f5;
  margin: 10px -10px;
  border-bottom: 6px solid #d75c37;
}
.section-subhead {
  padding: 8px 12px;
  background-color: #c3d7df;
  color: #6991ac;
  margin: -10px;
  margin-bottom: 5px;
}
.block-button {
  width: 100%;
}
.cta-button {
  background-color: #89bd75;
  color: #f5f5f5;
}
.left-icon {
  width: 32px;
  display: inline-block;
  padding-right: 5px;
}
.header-sub {
  float: right;
}
.event-list {
  font-size: 0.8em;
}
.event-list .event-item {
  margin-bottom: 1px;
}
.card-set {
  display: flex;
  width: 500px;
  height: 52px;
  padding-top: 5px;
  margin: 0 auto;
}
.card-set .card-container {
  overflow: hidden;
  cursor: pointer;
}
.card-set .card-container:last-child {
  overflow: visible;
}
.card-set .card {
  padding: 2px;
  border: 1px solid #67727a;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  width: 30px;
  height: 35px;
  box-sizing: content-box;
  text-align: left;
  font-size: 0.7em;
}
.card-set .card p {
  margin: 0;
}
.card-set .card-container.picked {
  overflow: visible;
  transform: scale(1.2);
  z-index: 1;
}
.card-set .card-container.picked .card {
  text-align: center;
}
.card-set .card-container.picked .card p {
  display: inline-block;
  padding: 7px 1px 1px 0;
}
.message-feed {
  max-height: 180px;
  padding: 10px 20px;
  overflow-y: auto;
}
