body {
  background-color: #f5f5f5;
  color: #67727a;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 850px;
  margin: 0 auto;
}
.app-header {
  background-color: #6991ac;
  color: #c3d7df;
  border-bottom: 8px solid #d75c37;
}
.app-header .title {
  text-align: center;
}
.app-header .header-icon {
  padding: 20px 0;
  text-align: center;
}
.app-content a:hover {
  text-decoration: underline;
}
.app-content .cards>div {
  display: inline;
}
.app-footer {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-top: 8px solid #6991ac;
  background-color: #c3d7df;
  color: #6991ac;
}
.app-footer a:hover {
  text-decoration: underline;
}
.index {
  padding: 5px;
}
.index .login {
  text-align: center;
}
.hearts,
.diamonds {
  color: #d75c37;
}
.clubs,
.spades {
  color: #67727a;
}
.game-panel .game-menu {
  margin: 30px 0;
  text-align: center;
}
.game-panel .game-list {
  margin: 30px 10px;
}
a.button-primary,
.button-primary {
  background-color: #c3d7df;
  color: #6991ac;
}
.facebook-color {
  color: #3b5998;
}
